node_modules
dist

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea/
.parcel-cache

# Unit test / coverage reports
.tox/
.coverage
.cache

# Visual Studio cache/options directory
.vs/
